fastapi
uvicorn
websockets
jinja2
sqlalchemy>=1.4.0
psycopg2-binary
asyncpg
pydantic>=1.8.0
pydantic[email]
alembic
python-dotenv
python-multipart
fpdf
XlsxWriter
jwt
passlib
python-jose[cryptography]
bcrypt

pytest
httpx
requests

# anyio
pytest-asyncio
# pytest-tornasync
# pytest-trio
# pytest-twisted
pyparsing