{% extends "main.html" %} {% block script %}
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href="{{ url_for('meeting_static', path='/css/index.css') }}"
/>
<script
  src="{{ url_for('meeting_static', path='/js/main.js') }}"
  type="module"
></script>
{% endblock %} {% block content %}
<div id="videos">
  <div class="video-container" id="container-local">
    <video
      class="video-player"
      id="localVideo"
      autoplay
      playsinline
      muted
    ></video>
    <div class="media-indicator mic-indicator" id="mic-indicator-local">
      <div class="mic-icon"></div>
    </div>
    <div class="media-indicator camera-indicator" id="camera-indicator-local">
      <div class="camera-icon"></div>
    </div>
  </div>
</div>
{% endblock %}
